<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MiIT</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <h1>
            <a href="/">MiIT Application Management Portal</a>
        </h1>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>
